* {
    .link {
      text-decoration: none;
      color: inherit;
    }
  }

  body {
    overflow-x: hidden;
    background-color: var(--win-bg);
  }

  .App {
    background-color: var(--win-bg);
    min-height: 100vh;
  }
